body {
  background-color: rgba(0,0,0,0.05);
}

body a:hover {
  text-decoration: none;
}

header {
  background-color: #111;
  width: 100%;
  height: 43px;
}

.header-wrapper {
  width: 980px;
  margin: auto;
  position: relative;
}

.header-wrapper form {
  display: inline-block;
}

.header-wrapper input {
  width: 300px!important;
  display: inline-block;
  height: 30px;
  background: #fff url(../imgs/icons.gif) no-repeat 5px -32px;
  padding: 3px 5px 3px 20px;
  font-size: 11px;
}

.header-wrapper button {
  height: 30px;
  padding: 5px;
  font-size: 11px;
  width: 100px;
}

.header-wrapper .link {
  display: inline-block;
  margin-left: 10px;
}

.header-wrapper .link > a {
 color: #fff;
  padding: 10px;
}

.header-wrapper .join-us {
  color: orange;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 25%;
}


header .text {
  color: #fff!important;
}

.content-wrapper {
  width: 980px;
  margin: 5px auto;
}

nav {
  width: 100%;
  height: 30px;
  background: #ccc;
  margin: 5px 0 5px 0;
}